{% extends "base.html" %}
{% load custom_tags %}
{% block cssscript %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/rooms/list.css' %}">
{% endblock cssscript %}
{% block content %}
<div class="title my-3 new jumbotron">
  <div class="main">
    Witaj w serwisie wsperającym inicjatywy społeczne.
  </div>
  <small>
    Poniżej znajdziesz wszystkie zbiórki. Wspieraj innych w zdobywaniu szczytów!
  </small>
</div>
<div id="trendy-panel" class="toggle-panel">
  Najważniejsze zbiórki
</div>
<div id="most-trendy" class="hidden mb-2">
  <div class="room-panel">
    <div class="room-list-title">
      Najpopularniejsze
    </div>
    <ul class="room-list">
      {% for room in most_popular %}
      <li class="list-item">
        <span class="founder">{{room.gift}}</span>
        <span class="amount">{{room.price}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="room-panel">
    <div class="room-list-title">
      Najwięcej wspierających
    </div>
    <ul class="room-list">
      {% for room in most_patrons %}
      <li class="list-item">
        <span class="founder">{{room.gift}}</span>
        <span class="amount">{{room.patrons.count}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="room-panel">
    <div class="room-list-title">
      Najwięcej do zebrania
    </div>
    <ul class="room-list">
      {% for room in most_to_collect %}
      <li class="list-item">
        <span class="founder">{{room.gift}}</span>
        <span class="amount">{{room.price}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="searchHdr d-flex justify-content-between">
      <div>
        <form action="" method="get">
          <input class="search form-control" type="text" name="search" placeholder="Fraza..." />
          <input type="submit" value="Szukaj"/>
        </form>
      </div>
      <div class="search-tags">
        <a class="one-tag" href="{% url 'rooms:list' %}?order=score">Popularne</a>
        <a class="one-tag" href="{% url 'rooms:list' %}?order=-date_expires">Najnowsze</a>
        <a class="one-tag" href="{% url 'rooms:list' %}?order=date_expires">Kończące się</a>
        <a class="one-tag" href="{% url 'rooms:list' %}?order=to_collect">Największe</a>
      </div>
</div>
{% for room in rooms %}
<div class="room">
  <div class="row">
    <div class="col-6">
      <div class="description">
        <div class="d-flex justify-content-around">
          <div class="receiver">
            <div class="main-text">{{room.receiver}}</div>
            <div class="small-text">autor</div>
          </div>
          <div class="price">
            <div class="main-text">{{room.price}}</div>
            <div class="small-text">cena</div>
          </div>
        </div>
        <div class="line"></div>
        <div class="text-center">
          <div class="mt-4">Cel zbiórki:</div>
          <div class="important-text mb-4">{{room.gift}}</div>
        </div>
        <div class="line"></div>
        <div class="d-flex justify-content-around">
          <div class="receiver">
            <div class="main-text">{{room.percent_left | floatformat:2}}%</div>
            <div class="small-text">do zebrania</div>
          </div>
          <div class="price">
            <div class="main-text">{{room.num_patrons}}</div>
            <div class="small-text">liczba patronów</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="description">
        <div class="text">{{room.description}}</div>
        <div class="myBtn" role="group">
          <a href="{% url 'forum:list' pk=room.pk %}">
            <button type="button" class="half btn btn-outline-light">
              Napisz wiadomośc
            </button>
          </a>
          {% if request.user in room.observers.all %}
          <button type="button" name="{{room.pk}}" class="half btn btn-outline-light">
            Obserwujesz
          </button>
          {% else %}
          <button type="button" name="{{room.pk}}" class="observerBtn half btn btn-outline-light">
            Dodaj do obserwowanych
          </button>
          {% endif %}
        </div>
        <a href="{% url 'rooms:detail' pk=room.pk %}" id="patronBtn" class="btn btn-outline-success">
          Wesprzyj inicjatywę
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content%}
{% block javascript %}
  <script src="{% static 'js/rooms/list.js' %}"></script>
{% endblock javascript %}