{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block cssscript %}
<link rel="stylesheet" href="{% static 'css/rooms/register.css'%}">
{% endblock cssscript %}
{% block content %}
<div class="title new jumbotron mt-2">
  <div class="main">Stwórz nowy cel zbiórki! Razem zrealizujcie marzenia</div>
  <small>
    Podaj cel oraz wielkość kwoty. Pozwól innym wspomóc zbieranie środków
  </small>
</div>
<form class="offset-2 col-8" action="" method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <button type="submit" class="greenBtn mainBtn">
    Sign in
  </button>
  <button type="reset" class="blueBtn mainBtn">
    Wyczyść
  </button>
</form>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/rooms/register.js'%}"></script>
{% endblock javascript %}