{% extends "base.html" %}
{% load staticfiles %}
{% block cssscript %}
  <link rel="stylesheet" href="{% static 'css/accounts/home.css' %}">
{% endblock %}

{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
</div>
{% endfor %}
<div class='new jumbotron'>
  <div class='title'>
    <div class='main'>Witaj! {{full_name}}</div>
    <div>
      Poniżej znajdziesz wszystkie pokoje,
      które wspomogłeś lub obserwujesz
    </div>
    <a href="{% url 'accounts:update' %}">
      <button class='blueBtn account-btn'>Aktualizuj dane</button>
    </a>
    <a href="{% url 'accounts:change_password' %}">
      <button class='blueBtn account-btn'>Zmiana hasła</button>
    </a>
    <a href="{% url 'rooms:list' %}">
      <button class='blueBtn account-btn'>Zbiórki</button>
    </a>
  </div>
</div>
<div class='row'>
  <div class='col-md-8'>
    <div class="search-hdr d-flex justify-content-between mb-2">
      <div class="search-tags">
        {% if observed %}
        <a class="one-tag">
          Obserwujesz: {{ observed }}
        </a>
       {% endif %}
        <a class="one-tag" href="{% url 'accounts:home' %}?all=true">
          Wszystkie
        </a>
      </div>
      <div class="search-tags">
        <a class="one-tag" href="{% url 'accounts:home' %}?order=most_popular">Najpopularniejsze</a>
        <a class="one-tag" href="{% url 'accounts:home' %}?order=most_patrons">Często wspierane</a>
        <a class="one-tag" href="{% url 'accounts:home' %}?order=most_to_collect">Największe</a>
      </div>
    </div>
    {% for room in rooms %}
    <div class="room">
      <div class="description">
        <div class="d-flex justify-content-around">
          <div class="receiver">
            <div class="main-text">{{room.creator}}</div>
            <div class="small-text">autor</div>
          </div>
          <div class="price">
            <div class="main-text">{{room.price}}</div>
            <div class="small-text">cena</div>
          </div>
        </div>
        <div class="line"></div>
        <div class="text-center">
          <div class="mt-4">Cel zbiórki:</div>
          <div class="important-text mb-4">{{room.gift}}</div>
        </div>
        <div class="line"></div>
        <div>
          <a href="{% url 'rooms:detail' pk=room.pk %}">
            <button class='detailBtn roomBtn'>Szczegóły</button>
          </a>
          <a href="{% url 'forum:list' pk=room.pk %}">
            <button class='forumBtn roomBtn'>Forum</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% include 'pagination.html' with obj_list=rooms %}
  </div>
  <div class='col-md-4'>
    <a href="{% url 'rooms:register' %}">
      <button class="blueBtn mainBtn w-100 mb-2">
        Utwórz nową zbiórkę
      </button>
    </a>
    <div class='message-box'>
      <ul class='message-list'>
        {% for message in message_list %}
        <li class='message-element'>
          <div class='header d-flex justify-content-between'>
            <div>{{message.sender}}</div>
            <div>{{message.subject}}</div>
          </div>
          <div class='message'>
            {{message.content}}
            <div class='d-flex justify-content-around mt-2'>
              <button class='btn btn-outline-success w-50'>
                Szczegóły
              </button>
              <button class='deleteBtn btn btn-outline-danger w-50' name="{{message.id}}">
                Usuń
              </button>
            </div>
          </div>
        </li>
        {% empty %}
        <li class="messageElement pt-2 text-center">Brak wiadomości</li>
        {% endfor %}
      </ul>
    </div>
  </button>
</div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/accounts/home.js' %}"></script>
{% endblock javascript %}