.comment {
  background-color: #eee;
  padding: 20px;
  margin-top: 10px;
  border-radius: 6px;
}
.comment .head {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.comment .head span {
  margin-right: 10px;
}
.comment .text {
  font-size: 16px;
  text-align: justify;
  padding: 5px;
}
.thread {
    margin-left: 10%;
}

.myBtn {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.3s;
}
.myBtn:hover {
  transform: scale(1.01);
}
/*-------like buttons -----------------*/
.dislikeBtn {;
  background-color: #ff3333;
  color: white;
}
.dislikeBtn:hover{
  background-color: #ff1a1a;
  box-shadow: 0 0 5px #ff3333;
}
.likeBtn {
  margin-right: 2px;
  padding: 10px 20px;
  background-color: #3399ff;
  color: white;
}
.likeBtn:hover{
  background-color: #1a8cff;
  box-shadow: 0 0 5px #3399ff;
}
/*----------------------------------- */
.respondBtn {
  padding: 10px 30px;
  background-color: #3399ff;
  color: white;
}
.respondBtn:hover{
  background-color: #1a8cff;
  box-shadow: 0 0 5px #3399ff;
}
.left {
  float:left;
}
.right {
  float: right;
}
.show-more {
  border: 2px solid #3399ff;
  border-radius: 5px;
  padding: 4px 0;
  margin-left: 25%;
  margin-top: -30px;
  width: 50%;
  cursor: pointer;
  font-weight: bold;
}