a {
  text-decoration: none; /* no underline */
}
a:hover {
  text-decoration: none; /* no underline */
}
.formTitle {
  text-align: center;
  font-size: 30px;
}
.center {
  width: 30%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.my-panel {
  border: 1px #cccccc solid;
  padding: 30px;
  border-radius: 20px;
}
.mainBtn {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.3s;
}
.mainBtn:hover {
  transform: scale(1.01);
}
.forumBtn {
  background-color: #3399ff;
  color: white;
}
.forumBtn:hover{
  background-color: #1a8cff;
  box-shadow: 0 0 5px #3399ff;
}
.detailBtn {
  background-color: #00cc00;
  color: white;
}
.detailBtn:hover{
  background-color: #00b300;
  box-shadow: 0 0 5px #00cc00;
}

/*-------------------------------------------*/
.room {
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: #292b2c;
  color: white;
}
.description {
  margin: 10px;
}
.roomBtn {
  margin-top: 10px;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.3s;
}
.roomBtn:hover {
  transform: scale(1.01);
}
.greenBtn {
  background-color: #00cc00;
  color: white;
}
.greenBtn:hover{
  background-color: #00b300;
  box-shadow: 0 0 5px #00cc00;
}
.blueBtn {
  background-color: #3399ff;
  color: white;
}
.blueBtn:hover{
  background-color: #1a8cff;
  box-shadow: 0 0 5px #3399ff;
}

/* ------------------------------*/
.important-text {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 10px purple;
}
.main-text {
  font-weight: bold;
  font-size: 24px;
}
.small-text {
  font-size: 12px;
  color: grey;
}
.line {
  border-bottom: 2px solid grey;
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
}
.search {
    width: 70%;
    display: inline-block
}
.searchHdr {
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #eee;
}
.search-tags {
    display: inline-block;
    padding: 5px;
}
.one-tag {
    padding: 0 5px;
}

.facebookBtn {
    background-color: #4e69a2;
    color: white;
    width: 50%;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 5px;
}
.facebookBtn:hover {
    background-color: #3c5a99;
    color: white;
}