{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block cssscript %}
	<link rel="stylesheet" href="{% static 'css/forum/post_list.css' %}">
{% endblock cssscript %}
{% block content %}
<div class="row">
  <div class="col-10">
    <div class="searchHdr d-flex justify-content-between">
      <div>
        <form action="" method="get">
          <input class="search form-control" type="text" name="search" placeholder="Fraza..." />
          <input type="submit" value="Szukaj"/>
        </form>
      </div>
      <div>
        Całkowita liczba postów: {{num_posts}}
      </div>
    </div>
    {% for post in posts %}
      <div class='comment' data-post="{{post.id}}">
        <div class='head clearfix'>
          <div style="float:left">
            <span>{{post.author}}</span>
            <span data-likes="likes">{{post.likes}}</span>
            <span>{{post.date|date:"d.m.y H:i"}}</span>
          </div>
          <span style="float: right;">Ocena: {{post.score}}</span>
        </div>
        <div class='text'>
          <div>{{post.subject}}</div>
          <div>{{post.content}}</div>
        </div>
        <div class='commentBtns clearfix'>
          <div style="float: left; padding-top: 10px">
          <span>Liczba komentarzy: {{post.threads.count}}</span>
          <span>Polubienia: {{post.all_likes}}</span>
          </div>
          <a href="{% url 'forum:list' pk=post.room.id %}">
            <button class='right blueBtn mainBtn'>
              Zobacz konwersacje
            </button>
          </a>
        </div>
      </div>
    {% endfor %}
    {% include "pagination.html" with obj_list=posts %}
  </div>
</div>
{% endblock content %}